body {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Base card styles */
.card {
    position: absolute;
    border: 1px solid black;
    background-color: white;
}

.card-rounded {
    border-radius: 12px;
}

.card-rounded-small {
    border-radius: 9px;
}

/* Layout containers */
#display-frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 798px;
    height: 478px;
    border: 1px solid black;
    background-color: lightgray;
}

#first-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
}

#second-row {
    position: absolute;
    top: 197px;
    left: 0;
    width: 100%;
    height: 47px;
}

#third-row {
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
    height: 228px;
}


/* Headlines */
.solar {
    position: absolute;
    top: 0;
    height: 150px;
    padding-top: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
}

.solar-left {
    left: 0;
    width: 396px;
}

.solar-right {
    left: 402px;
    width: 396px;
}

.solar img {
    height: 37px;
    position: absolute;
    left: 6px;
    top: -6px;
}

/* Icon positioning */
.icon-absolute {
    position: absolute;
}

.icon-top-right {
    top: 0;
    right: 0;
}

.icon-bottom-left {
    bottom: 0;
    left: 0;
}

.icon-bottom-right {
    bottom: 0;
    right: 0;
}

.icon-small {
    width: 20px;
}

.icon-medium {
    width: 30px;
}

.icon-large {
    width: 40px;
}

.icon-positioned {
    position: relative;
    left: 4px;
    top: 2px;
}

/* Loading states */
.loading {
    color: #666;
    font-style: normal;
}

.loading::before {
    content: '⟳';
    margin-right: 3px;
    font-size: 0.8em;
}

/* For images, show a simple placeholder */
img.loading {
    background-color: #e0e0e0;
    border: 1px dashed #999;
    opacity: 0.7;
}

img.loading::after {
    content: '⟳';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #666;
}