<!doctype html>  
<html lang="de">  
    <head>
        <meta charset="utf-8">
        <title>Energy</title>
        <link rel="stylesheet" href="/static/css/energy.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="display-frame">
            <div id="first-row">
                <div id="balkony-solar" class="solar solar-left card card-rounded-small">
                    <img src="/static/img/energy/solar-panel.png"/>
                    Balkon Solar
                </div>

                <div id="garage-solar" class="solar solar-right card card-rounded-small">
                    <img src="/static/img/energy/solar-panel.png"/>
                    Garage Solar
                    <div>Solarblabla<br/><br/></br7></div>
                </div>
            </div>
            <div id="second-row">

            </div>
            <div id="third-row">
                
            </div>
        </div>
        <script src="/static/js/energy.js"></script>
    </body>
</html>