<!doctype html>  
<html lang="de">  
    <head>
        <meta charset="utf-8">
        <title>Weather</title>
        <link rel="stylesheet" href="/static/css/weather.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="display-frame">
            <div id="first-row">
                <div id="current-inside-headline" class="headline headline-left card-rounded-small">
                    <img src="/static/img/weather/inside.png"/>
                    Innentemperatur
                </div>
                <div id="current-inside" class="card card-rounded-small">
                    <div class="temp-display">
                        <div class="temperature_unit">°C</div>
                        <div class="temperature loading"></div>
                        <img class="icon-medium" src="/static/img/weather/thermometre.png"/>
                        <img class="humidity_icon icon-medium" src="/static/img/weather/humidity.png"/>
                        <div class="humidity loading"></div>
                        <div class="percent">%</div>
                    </div>
                </div>
                <div id="current-image" class="card card-rounded">
                    <div id="condition-name" class="loading"></div>
                    <img id="condition-image" class="loading" src="#"/>
                    <div id="sunrise-text" class="loading"></div>
                    <img class="icon-medium icon-absolute" id="sunrise-image" src="/static/img/weather/sunrise.png"/>
                    <div id="sunset-text" class="loading"></div>
                    <img class="icon-medium icon-absolute" id="sunset-image" src="/static/img/weather/sunset.png"/>
                    <div id="moon-phase-text" class="loading"></div>
                    <img class="moon-icon loading" width="70" src=""/>
                </div>
                <div id="current-outside-headline" class="headline headline-right card-rounded-small">
                    <img src="/static/img/weather/outside.png"/>
                    Außentemperatur
                </div>
                <div id="current-outside" class="card card-rounded">
                    <div class="temp-display">
                        <div class="temperature_unit">°C</div>
                        <div class="temperature loading"></div>
                        <img class="icon-medium" src="/static/img/weather/thermometre.png"/>
                        <img class="humidity_icon icon-medium" src="/static/img/weather/humidity.png"/>
                        <div class="humidity loading"></div>
                        <div class="percent">%</div>
                        <div class="temp-range min-temp">
                            min: <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="temp-range max-temp">
                            max: <span class="temp-value loading"></span><span>°C</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="second-row">
                <div id="current-prec" class="card card-rounded">
                    <img class="today-prec-icon icon-medium" src="/static/img/weather/umbrella.png"/>
                    <div id="current-prec-text">
                        zu <span id="current-prec-perc-value" class="loading"></span>%
                        <span id="current-prec-value" class="loading"></span>
                    </div>
                </div>
                <div id="feels-like" class="card card-rounded">
                    <img class="uv-icon icon-large" src="/static/img/weather/feeling.png"/>
                    <div id="feels-like-text">gefühlt wie</div>
                    <div id="feels-like-value"><span class="loading"></span><span>°C</span></div>
                </div>
                <div id="uv-index" class="card card-rounded">
                    <img class="uv-icon icon-large" src="/static/img/weather/uvindex.png"/>
                    <div class="uv-index-container">
                        <span id="uv-index-number" class="uv-index-number loading"></span>
                        <span id="uv-index-label" class="uv-index-label"></span>
                    </div>
                </div>
            </div>
            <div id="third-row">
                <div class="forecast-card">
                    <div class="forecast-headline loading"></div>
                    <img width="100" class="forecast-image loading" src="#"/>
                    <div class="condition-text loading"></div>
                    <div class="forecast-data">
                        <div class="min-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/arrow_down.png"/>
                            <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="max-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/arrow_up.png"/>
                            <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="prec-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/umbrella.png"/>
                            <span class="prec-value loading"></span><span>%</span>
                        </div>
                        <div class="prec-perc-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/prec.png"/>
                            <span class="prec-perc-value loading"></span><span>mm</span>
                        </div>
                    </div>
                </div>
                <div class="forecast-card">
                    <div class="forecast-headline loading"></div>
                    <img width="100" class="forecast-image loading" src="#"/>
                    <div class="condition-text loading"></div>
                    <div class="forecast-data">
                        <div class="min-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/arrow_down.png"/>
                            <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="max-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/arrow_up.png"/>
                            <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="prec-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/umbrella.png"/>
                            <span class="prec-value loading"></span><span>%</span>
                        </div>
                        <div class="prec-perc-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/prec.png"/>
                            <span class="prec-perc-value loading"></span><span>mm</span>
                        </div>
                    </div>
                </div>
                <div class="forecast-card">
                    <div class="forecast-headline loading"></div>
                    <img width="100" class="forecast-image loading" src="#"/>
                    <div class="condition-text loading"></div>
                    <div class="forecast-data">
                        <div class="min-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/arrow_down.png"/>
                            <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="max-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/arrow_up.png"/>
                            <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="prec-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/umbrella.png"/>
                            <span class="prec-value loading"></span><span>%</span>
                        </div>
                        <div class="prec-perc-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/prec.png"/>
                            <span class="prec-perc-value loading"></span><span>mm</span>
                        </div>
                    </div>
                </div>
                <div class="forecast-card">
                    <div class="forecast-headline loading"></div>
                    <img width="100" class="forecast-image loading" src="#"/>
                    <div class="condition-text loading"></div>
                    <div class="forecast-data">
                        <div class="min-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/arrow_down.png"/>
                            <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="max-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/arrow_up.png"/>
                            <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="prec-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/umbrella.png"/>
                            <span class="prec-value loading"></span><span>%</span>
                        </div>
                        <div class="prec-perc-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/prec.png"/>
                            <span class="prec-perc-value loading"></span><span>mm</span>
                        </div>
                    </div>
                </div>
                <div class="forecast-card">
                    <div class="forecast-headline loading"></div>
                    <img width="100" class="forecast-image loading" src="#"/>
                    <div class="condition-text loading"></div>
                    <div class="forecast-data">
                        <div class="min-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/arrow_down.png"/>
                            <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="max-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/arrow_up.png"/>
                            <span class="temp-value loading"></span><span>°C</span>
                        </div>
                        <div class="prec-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/umbrella.png"/>
                            <span class="prec-value loading"></span><span>%</span>
                        </div>
                        <div class="prec-perc-forecast">
                            <img class="icon-small icon-positioned" src="/static/img/weather/prec.png"/>
                            <span class="prec-perc-value loading"></span><span>mm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/weather.js"></script>
    </body>
</html>